/* h1{
    color: red;
    
}

body{
    background-color: yellowgreen;
    background-image: url(https://i.pinimg.com/originals/9e/2c/9b/9e2c9bf1f7abf645d6e2e051a53efb92.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */

